@use "../../styles/abstracts/variables" as v;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.burger {
  display: block;
  font-size: 24px;
  background: none;
  border: none;
}
.burgerIcon {
  fill: none;
  stroke: v.$green;
}

@media (min-width: 1440px) {
  .burger {
    display: none;
  }
}

.nav {
  display: flex;
  flex-direction: column;
justify-content: space-between;
align-items: center;
box-sizing: border-box;
  position: fixed;
  top: 0;
  right: 0;
  width: 40vw;
  height: 100vh;
  padding: 40px 38px;
  background: v.$green;
  transform: translateX(100%);
  transition: transform 0.3s ease;
  z-index: 1000;
}
@media (min-width: 1440px) {
  .nav {
    position: static;
    display: flex;
    flex-direction: row;
    height: auto;
    right: auto;
    gap: 20px;
    background: none;
  }
}

.open {
   transform: translateX(0);
}
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 999;
}

.closeBtn {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  border: none;
  width: 32px;
  height: 32px;
  padding: 0;
}
.icon {
fill: none;
stroke: v.$white;
}
.menuGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  margin-top: 220px;
}
.navBtn {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 12px 20px;
  border-radius: 60px;
  background-color: v.$white;
  color: v.$dark-gray;
  font-weight: 400;
  text-decoration: none;
}

.active {
  background:v.$white;
  padding: 6px;

  span {
    display: block;
    padding: 10px 20px;
    border-radius: 999px;

    background: v.$green;
    color: v.$white;
  }
}


.logoutBtn {
  padding: 13px 26px;
  border-radius: 60px;
  width: fit-content;
  border: 1px solid rgba(241, 241, 241, 0.5) !important;
}

