@use "../../styles/abstracts/variables" as v;

.header {
    display: flex;
    justify-content: space-between;
  align-items: center;
}

.burger {
  display: block;
  font-size: 24px;
  background: none;
  border: none;
}

.nav {
  position: absolute;
  top: 60px;
  right: 0;
  background: v.$white;
  display: none;
  flex-direction: column;
  padding: 20px;
}

.open {
  display: flex;
}

@media (min-width: 1440px) {
  .burger {
    display: none;
  }

  .nav {
    position: static;
    display: flex;
    flex-direction: row;
    gap: 20px;
    background: none;
  }
}