@use "../../styles/abstracts/variables" as v;

.button {
  background-color: v.$green;
  color: v.$white;
   border: 1px solid transparent;
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  cursor: pointer;
}
.buttonLight {
  background-color: v.$light-green ;
  color: v.$green;
   border: 1px solid transparent;
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  cursor: pointer;
}