@use '../../styles/abstracts/mixins';

.input {
    @include mixins.input-base;
}
.field {
  display: flex;
  align-items: center;

  input,
  textarea,
  select {
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    font: inherit;
  }
}