@use '../../styles/abstracts/mixins';
@use "../../styles/abstracts/variables" as v;

.input {
  width: 100%;
}

.field {
  @include mixins.field-base;

  display: flex;
  align-items: center;

  padding: 13px 15px;

  input,
  textarea {
    width: 100%;
    border: none;
    outline: none;
    background: transparent;

    font: inherit;
    color: inherit;

    &::placeholder {
      color: v.$placeholder;
    }
    &:hover,
  &:focus {
    border-color: v.$green;
  }
  }
}