@use "../../styles/abstracts/variables" as v;

.footer {
  width: 100%;
  background-color: v.$green;
}

.container {
  width: 100%;
  max-width: 375px;
  margin: 0 auto;
  padding: 24px 20px;
}

/* Верхня частина футера */

.footerTop {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.topFooter {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footerText {
  color: v.$white;
}

.bottomFooter {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.menuGroup {
  display: flex;
  gap: 32px;
}

.navBtn {
  color: v.$white;
  font-weight: 600;
  font-size: 14px;
}

.media {
  display: none;
}

/* Роздільна лінія */

.line {
  width: 100%;
  margin: 40px 0 0;
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

/* Нижня частина */

.bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding: 32px 0;
  color: v.$white;
}

.devider {
  color: rgba(255, 255, 255, 0.3);
}

/* TABLET */

@media (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 24px 32px;
  }

  .footerTop {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .topFooter {
    max-width: 261px;
  }

  .bottomFooter {
    flex-direction: column;
    align-items: flex-start;
  }

  .media {
    display: flex;
  }
}

/* DESKTOP */

@media (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 40px 100px 24px;
  }

  .footerTop {
    flex-direction: row;
    justify-content: space-between;
  }
}