@use "../../styles/abstracts/variables" as v;

.footer {
  background-color: v.$green;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 375px;
  margin: 0 auto;
  padding: 24px 20px;
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
    max-width: 768px;
    padding: 24px 32px;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 24px 100px;
    justify-content: space-between;
  }
}

.topFooter {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;
}
.footerText {
  color: v.$white;
}

@media (min-width: 768px) {
  .topFooter {
    max-width: 261px;
  }
}
.menuGroup {
  display: flex;
  gap: 32px;
}

.navBtn {
  color: v.$white;
  font-weight: 600;
font-size: 14px;
}

.media {
  display: none;
}

@media (min-width: 768px) {
  .media {
  display: flex
}
}