@use "../abstracts/variables" as v;

html {
  box-sizing: border-box;
}
body {
  font-family: v.$font-main;
    background-color: v.$background-color;
    margin: 0;
    padding: 0;
}

$heading-weight: 600;

h1,
h2,
h3,
h4 {
  font-weight: $heading-weight;
}

a {
  text-decoration: none;
    cursor: pointer;
}

button {
  cursor: pointer;
  background: none;
  border: none;
}