@use "../../styles/abstracts/variables" as v;
.logoWrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}
.footer {
  .logoImg {
    width: 32px;
    height: 32px;
    color: v.$white;
  }
}
@media (min-width: 768px) {
  .logoImg {
    width: 44px;
    height: 44px;
  }
}
.logoText {
  color: v.$black;
  font-size: 16px;
}
.footer {
  .logoText {
    color: v.$white;
  }
}

@media (min-width: 768px) {
  .logoText {
    font-weight: 600;
    font-size: 20px;
  }
}
