@use "../../styles/abstracts/variables" as v;

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 310px;
}
.authTop {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.authBottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 14px;
}
.authBtn {
  width: 100%;
  border-radius: 60px;
  padding: 13px ;
}

.link {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: v.$dark-gray;
}
