.layout {
     min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.content {
  flex: 1;
}

.privateLayout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 25px;
  gap: 60px;
}

.main {
  flex: 1;
}