.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.content {
  flex: 1;
}

.privateLayout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.main {
  flex: 1;
  // padding-top: 60px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 64px;
  padding: 25px 20px;
}
